@font-face {
  font-family: 'Instrument Sans';
  src: url('/687e41d5a9ea6aae357da143_InstrumentSans-VariableFont_wdth,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
